@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

body {
	margin: 1em;
	padding: 0;
	font-family: "Lato", "Helvetica", Arial, sans-serif;
	font-size: 13pt;
	background: #ffffff;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: #0097a7;
}

a:hover {
	text-decoration: none;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
	float: none !important;
}

.alignLeft {
	text-align: left !important;
}

.alignRight {
	text-align: right !important;
}

.alignCenter {
	text-align: center !important;
}

.small {
	font-size: 12px;
}

.clear {
	display: block;
	clear: both;
	float: none;
}

.block {
	display: block;
}

.none {
	display: none;
}

hr {
	border: none;
	border-top: 1px solid #aaaaaa;
}

h1 {
	font-family: "Lato", "Helvetica", Arial, sans-serif;
	font-weight: 900;
	margin: 0 0 0.2em 0;
    color: #38006b;
}

h1 + h2 {
    color: #7b1fa2;
	margin: 0.5em 0 1em 0;
}

.content {
	width: 640px;
	margin: 0 auto;
	line-height: 1.4em;
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
	font-size: 13pt;
}

h2 {
    color: #7b1fa2;
}

h3 {
	color: #0094cc;
    margin: 1em 0 0.25em 0;
}

h3 + p {
    margin: 0.25em 0 1em 0;
}

p, ul {
	color: #444444;
}

p, li {
	margin: 1em 0;
}

p:first-child:first-letter {
	color: #000000;
}

table {
	border-collapse: collapse;
    border: none;
}

table tr {
}

table th {
	text-align: left;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 0.5em 0.4em;
    border-left: none;
    border-right: none;
}

table td {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #eeeeee;
	padding: 0.5em 0.4em;
	vertical-align: top;
    border-left: none;
    border-right: none;
}

ul, ol {
	margin: 1em 0;
	padding-left: 1.2em;
}


@media print {
	.invisibleInPrint {
		display: none;
	}

	span.emotion {
		background: #ffecb3 !important;
		border-radius: 4px;
    	display:inline-block;
    	padding: 0 4px;
	}
}

.mdc-body {
	margin: 64px 16px 16px 16px;
}

.logDescription {
    max-width: 10cm;
}

.transcript, .quote {
	margin: 1em 0 1em 1em;
    display: block;
}

span.emotion {
	background: #ffecb3;
	border-radius: 4px;
    display:inline-block;
    padding: 0 4px;
}