body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Helvetica", Verdana, Arial, sans-serif;
	font-size: 10pt;
	background: #ffffff;
	display: flex;
	height: 100vh;
}

a, a:visited {
	color: #0026ca;
	text-decoration: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

/* CUSTOM MDC-SOURCED THEME */
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
    padding: 4px;
}

.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7 !important;
}


/* CUSTOM THEME */
.mdc-body {
	padding: 4px 16px 16px 4px;
}

.mdc-custom-form {
	width: 480px;
}

.mdc-custom-form p {
	border-bottom: 1px solid #DDDDDD;
	padding: 12px;
	margin: 0;
	color: #555555;
}

.mdc-custom-form label {
	clear: both;
	display: block;
	width: 95%;
	color: #000000;
}

.mdc-custom-form h2 {
	color: #6200ee;
	font-size: 1em;
	padding: 12px 12px 4px 12px;
	margin: 0;
}

.mdc-custom-form p + h2 {
	border-top: 1px solid #666666;
    margin: -1px 0 0 0;
	padding: 16px 12px 4px 12px;
}

.mdc-custom-form form p {
	overflow: auto;
}

.mdc-custom-form form p:hover {
	background: #E8EAF6;
}

.mdc-custom-form form p label {
	float: left;
}

.mdc-custom-form input[type="radio"],
.mdc-custom-form input[type="checkbox"] {
	margin: 0;
	float: right;
}

.mdc-custom-form form label + input[type="text"],
.mdc-custom-form form label + textarea {
	font-family: "Roboto", "Helvetica", Verdana, Arial, sans-serif;
	font-size: 12pt;
	margin: 8px 0 0 0;
	border: 1px solid #eeeeee;
    border-bottom: 2px solid #aaaaaa;
	border-radius: 4px 4px 0 0;
    padding: 16px 12px;
}

.mdc-custom-form form label + input[type="text"]:active,
.mdc-custom-form form label + textarea:active {
	font-family: "Roboto", "Helvetica", Verdana, Arial, sans-serif;
	font-size: 12pt;
	margin: 8px 0 0 0;
	border: 1px solid #eeeeee;
    border-bottom: 2px solid #6200ee;
	border-radius: 4px 4px 0 0;
    padding: 16px 12px;
}

img.mdc-data-table-icon {
	width: 16px;
	height: 16px;
}

.mdc-custom-form .mdc_editor_external_link {
    margin: -12px 0 0 0;
    float: right;
}