    <aside class="mdc-drawer mdc-permanent-drawer mdc-top-app-bar--fixed-adjust">
        <div class="mdc-drawer__content">
            <div class="mdc-list">
                <a class="mdc-list-item" href="/family/all">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
                    <span class="mdc-list-item__text">Families</span>
                </a>
                <a class="mdc-list-item" href="/fitness/all">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">directions_run</i>
                    <span class="mdc-list-item__text">Fitness</span>
                </a>
                <!--  mdc-list-item--activated -->
                <a class="mdc-list-item" href="/geostory/all">
                    <i class="material-icons mdc-list-item__graphic" aria-current="page">chat_bubble_outline</i>
                    <span class="mdc-list-item__text">GeoStories</span>
                </a>
                <a class="mdc-list-item" href="/log/all">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bar_chart</i>
                    <span class="mdc-list-item__text">Logging</span>
                </a>
            </div>
        </div>
    </aside>