        <header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <!--<button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>-->
                    {% if parent_uri %}
                    <a class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" href="{{ parent_uri }}">
                        arrow_back
                    </a>
                    {% endif %}
                    <span class="mdc-top-app-bar__title">{{ title }}</span>
                </section>
            </div>
        </header>