<!DOCTYPE html>
<html lang="en">
{% include "default_html_head.html" %}
<body>
    {% include "default_header.html" %}
    {% include "default_nav.html" %}
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="mdc-body">
        {% include "default_messages.html" %}
        <div class="mdc-data-table">
            <table class="mdc-data-table__table" aria-label="GeoStories">
                <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Date</th>
                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
                            Caregiver's Steps<br/>(personId={{ data.caregiver_person_id }})
                        </th>
                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
                            Child Steps<br/>(personId={{ data.child_person_id }})
                        </th>
                    </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                    {% if data.last_sync %}
                    <tr>
                        <td class="mdc-data-table__cell"><b>Last sync</b></td>
                        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
                            {{ data.last_sync.caregiver }}
                        </td>
                        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
                            {{ data.last_sync.child }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if data.fitness_data %}
                    {% for key, value in data.fitness_data.items %}
                    <tr class="mdc-data-table__row">
                        <td class="mdc-data-table__cell"><b>{{ key }}</b></td>
                        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ value.caregiver }}</td>
                        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ value.child }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="mdc-data-table__cell" rowspan="3">No fitness data yet.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <br/>
        </div>
    </main>
    </div>
</body>
</html>