<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Logs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "global.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "global.css" %}" type="text/css" media="print" />
</head>
<body>
<h1>{{ user_id}}'s Moments</h1>
<h2>{{ start_date }} - {{ end_date}}</h2>
<hr />
{% if log_data %}
    {% for day_key, day_values in log_data.items %}
    <h3>{{ day_values.date }}</h3>
        <p>
            <b>Caregiver</b>: {{ day_values.adult_steps}} steps, <b>child</b>: {{ day_values.child_steps}} steps<br/>
        </p>
        {% if day_values.minute_logs %}
        <table border="1" cellspacing="0" bordercolor="#555555">
            {% for min_values in day_values.minute_logs %}
            <tr>
                <td><b>{{ min_values.time }}</b></td>
                <td>{{ min_values.text }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endfor %}
{% endif %}
</table>
</body>
</html>