<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Logs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "global.css" %}" type="text/css" media="screen" />
</head>
<body>
<h1>{{ user_id}}'s Moments</h1>
<h2>{{ start_date }} - {{ end_date}}</h2>
<hr />
{% if log_data %}
    {% for log_day in log_data %}
    <h3>{{ date }}</h3>
        {% if log_day.minute_logs %}}
        <table border="1">
            {% for minute_log in log_day.minute_logs %}
            <tr>
                <td>{{ event }}</td>
                <td><b>{{ time }}</b>b></td>
                <td>{{ text }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}}
    {% endfor %}
{% endif %}
</table>
</body>
</html>