    <aside class="mdc-drawer mdc-permanent-drawer mdc-top-app-bar--fixed-adjust">
        <div class="mdc-drawer__content">
            <div class="mdc-list">
                {%  if nav %}
                    {% for key, value in nav.items %}
                <a class="mdc-list-item {% if value.is_active %}mdc-list-item--activated{% endif %}" href="{{  value.uri }}">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{  value.mdc_icon }}</i>
                    <span class="mdc-list-item__text">{{  value.title }}</span>
                </a>
                    {% endfor %}
                {%  else %}
                <a class="mdc-list-item" href="/family/all">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
                    <span class="mdc-list-item__text">Families</span>
                </a>
                <a class="mdc-list-item" href="/fitness/all">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">directions_run</i>
                    <span class="mdc-list-item__text">Fitness</span>
                </a>
                <!--  mdc-list-item--activated -->
                <a class="mdc-list-item" href="/geostory/all">
                    <i class="material-icons mdc-list-item__graphic" aria-current="page">chat_bubble_outline</i>
                    <span class="mdc-list-item__text">GeoStories</span>
                </a>
                <a class="mdc-list-item" href="/log/all">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bar_chart</i>
                    <span class="mdc-list-item__text">Logging</span>
                </a>
                {%  endif %}

                <hr class="mdc-list-divider">
                <h6 class="mdc-list-group__subheader">Settings</h6>
                <a class="mdc-list-item" href="/admin">
                    <span class="mdc-list-item__text">App Admin</span>
                </a>
                <a class="mdc-list-item" href="https://wellness-test.ccs.neu.edu/storytelling_dev/admin">
                    <span class="mdc-list-item__text">Django Admin</span>
                </a>

            </div>
        </div>
    </aside>