<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'mipmap/favicon.png' %}">
    <link rel="stylesheet" href="{% static "mdc-custom.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
</head>