<!DOCTYPE html>
<html lang="en">
{% include "default_html_head.html" %}
<body>
    {% include "default_header.html" %}
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
        <main class="mdc-body">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <div class="mdc-custom-form">
                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned ">
                        <div class="form-row field-user">
                            {{ date_range_form.as_p }}
                            <br/>

                            <button class="mdc-button mdc-button--raised" value="Save">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">View Logs</span>
                            </button>

                            <button class="mdc-button mdc-button" name="is_show_today" value="True">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">View Today's Logs</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
                <br/>
            </div>
        </main>
    </div>
</body>
</html>