<!DOCTYPE html>
<html lang="en">
{% include "default_html_head.html" %}
<body>
    {% include "default_header.html" %}
    {% include "default_nav.html" %}
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
        <main class="mdc-body">
            <div class="mdc-custom-form">
                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned ">
                        <div class="form-row field-user">
                            {{ refresh_log_form.as_p }}
                            <br/>
                            <button class="mdc-button" value="Save">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Refresh Logs</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
                <br/>
            </div>
        </main>
    </div>
</body>
</html>