<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_id}}'s Moments</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "global.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "global.css" %}" type="text/css" media="print" />
</head>
<body>
<h1>{{ user_id}}'s Moments</h1>
<h2>{{ start_date }} - {{ end_date}}</h2>
<hr />
{% if log_data %}
    {% for day_key, day_values in log_data.items %}
    <h3>{{ day_values.date }}</h3>
        <p>
            <b>Caregiver</b>: {{ day_values.adult_steps}} steps, <b>child</b>: {{ day_values.child_steps}} steps<br/>
        </p>
        {% if day_values.minute_logs %}
        <table>
            {% for min_values in day_values.minute_logs %}
            <tr>
                <td><b>{{ min_values.time }}</b></td>
                {% if is_show_raw %}
                <td>
                    <b>{{ min_values.event }}</b>
                </td>
                {% endif %}
                <td class="logDescription" style="max-width: 15cm;">
                    {{ min_values.description|safe }}
                    {% if min_values.transcript %}
                    <span class="transcript">&quot;{{ min_values.transcript|safe }}&quot;</span>
                    {% endif %}
                    {% if min_values.meta %}
                    {{ min_values.meta|safe }}
                    {% endif %}
                </td>
                {% if min_values.edit_uri %}
                <td><!--suppress HtmlUnknownTarget -->
                    <a href="{{ min_values.edit_uri }}" class="invisibleInPrint" target="_blank">Edit</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endfor %}
{% endif %}
</table>
</body>
</html>