<!DOCTYPE html>
<html lang="en">
<head>
{% include "default_html_head.html" %}
</head>
<body>
    {% include "default_header.html" %}
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="mdc-body">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <div class="mdc-custom-form">
            <h2>Caregiver</h2>
            <p>
                <label>Name and ID</label>
                {{ family_setting.group.members.0.name }}
                ({{ family_setting.group.members.0.id }})
            <p>
                <label>Last fitness sync</label>
                {{ family_setting.caregiverLastSync }}
                <a href="{{ fitness_sync_uri }}" class="mdc_editor_external_link">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">sync</i>
                </a>
            </p>

            <h2>Child</h2>
            <p>
                <label>Name and ID</label>
                {{ family_setting.group.members.1.name }}
                ({{ family_setting.group.members.1.id }})
            </p>
            <p>
                <label>Last fitness sync</label>
                {{ family_setting.childLastSync }}
                <a href="{{ fitness_sync_uri }}" class="mdc_editor_external_link">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">sync</i>
                </a>
            </p>


            <h2>Device Info</h2>
            <p>
                <label>Android version</label>
                {{ family_setting.deviceInfo.androidRelease}} ({{ family_setting.deviceInfo.androidVersion }})
            </p>
            <p>
                <label>Storywell app version</label>
                {{ family_setting.deviceInfo.appVersionName}} ({{ family_setting.deviceInfo.appVersionCode }})
            </p>
            <p>
                <label>Device name</label>
                {{ family_setting.deviceInfo.deviceName}} {{ family_setting.deviceInfo.androidVersion }}
            </p>
            <p>
                <label>Firebase</label>
                Open in Firebase
                <a href="{{ family_setting.path }}" target="_blank" class="mdc_editor_external_link">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">open_in_new</i>
                </a>
            </p>

            <h2>Settings</h2>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned ">
                    <div class="form-row field-user">
                        {{ family_setting_form.as_p }}
                        <br/>
                        <button class="mdc-button" value="Save">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Save</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <br/>
    </main>
    </div>
</body>
</html>