<!DOCTYPE html>
<html lang="en">
<head>
{% include "default_html_head.html" %}
</head>
<body>
    {% include "default_header.html" %}
    <main class="mdc-body">
        <div class="mdc-custom-form">
            <h2>GeoStory Information</h2>
            <p><label>Author</label> {{ geostory.username }}</p>
            <p><label>Posted on</label> {{ geostory.datetimeString }}</p>
            <p>
                <label>Neighborhood</label> {{ geostory.meta.neighborhood }}
                <a href="https://www.google.com/maps/@{{ geostory.latitude }},{{ geostory.longitude}},16z"
                   target="_blank">
                    &#128204;
                </a>
            </p>
            <p><label>Average steps</label> {{ geostory.meta.averageSteps }} steps/week</p>
            <p><label>Bio</label> {{ geostory.meta.bio }}</p>
            <p><label>Firebase</label> <a href="{{ geostory.path }}" target="_blank">{{ geostory.storyId }}</a></p>
            <p>
                <label>Audio file</label> <a href="{{ geostory.storyUri }}">download</a>
                <!--<audio controls>
                    <source src="{{ geostory.storyUri }}" type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>-->
            </p>

            <h2>Meta Information</h2>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned ">
                    <div class="form-row field-user">
                        {{ geostory_form.as_p }}
                        {{ meta_form.as_p }}
                        <button class="mdc-button" value="Save">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Save</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <br/>
    </main>


</body>
</html>