<!DOCTYPE html>
<html lang="en">
{% include "default_html_head.html" %}
<body>
    {% include "default_header.html" %}
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="mdc-body">
        <div class="mdc-custom-form">
            <h2>GeoStory Information</h2>
            <p><label>Author</label> {{ geostory.username }}</p>
            <p><label>Posted on</label> {{ geostory.datetimeString }}</p>
            <p>
                <label>Neighborhood</label> {{ geostory.meta.neighborhood }}
                <a href="https://www.google.com/maps/?q={{ geostory.meta.neighborhood }}+%40{{ geostory.latitude }},{{ geostory.longitude}}"
                target="_blank" class="mdc_editor_external_link">
                    <i class="material-icons mdc-icon-button__icon">location_on</i>
                </a>
            </p>
            <p><label>Average steps</label> {{ geostory.meta.averageSteps }} steps/week</p>
            <p><label>Bio</label> {{ geostory.meta.bio }}</p>
            <p>
                <label>Firebase</label>
                {{ geostory.storyId }}
                <a href="{{ geostory.path }}" target="_blank" class="mdc_editor_external_link">
                    <i class="material-icons mdc-icon-button__icon">open_in_new</i>
                </a>
            </p>
            <p>
                <label>Audio file</label>
                Download now
                <a href="{{ geostory.storyUri }}" class="mdc_editor_external_link">
                    <i class="material-icons mdc-icon-button__icon">get_app</i>
                </a>
                <!--<audio controls>
                    <source src="{{ geostory.storyUri }}" type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>-->
            </p>

            <h2>Meta Information</h2>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned ">
                    <div class="form-row field-user">
                        {{ geostory_form.as_p }}
                        {{ meta_form.as_p }}
                        <br/>
                        <button class="mdc-button mdc-button--raised" value="Save">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Save</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <br/>
    </main>
    </div>
</body>
</html>