<!DOCTYPE html>
<html lang="en">
{% include "default_html_head.html" %}
<body>
    {% include "default_header.html" %}
    {% include "default_nav.html" %}
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="mdc-body">
        <div class="mdc-data-table">
            <table class="mdc-data-table__table" aria-label="GeoStories">
                <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Creator</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">GeoStory ID</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Date posted</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Neighborhood</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                    {% if all_geostories %}
                    {% for geostory in all_geostories %}
                    <tr class="mdc-data-table__row">
                        <td class="mdc-data-table__cell">
                            <a href="edit/{{ geostory.storyId }}"><b>{{ geostory.username }}</b></a>
                        </td>
                        <td class="mdc-data-table__cell">
                            <a href="https://console.firebase.google.com/u/0/project/wellness-storytelling/database/wellness-storytelling/data/~2Fall_geostory~2F/{{ geostory.storyId }}"
                                target="_blank">
                                {{ geostory.storyId }}
                            </a>
                        </td>
                        <td class="mdc-data-table__cell">{{ geostory.datetimeString }}</td>
                        <td class="mdc-data-table__cell">{{ geostory.meta.neighborhood }}</td>
                        <td class="mdc-data-table__cell">
                            {% if geostory.meta.transcript %}Transcribed{% endif %}
                        </td>
                        <td class="mdc-data-table__cell">
                            {% if geostory.isReviewed %}Reviewed{% endif %}
                        </td>
                        <td class="mdc-data-table__cell">
                            <a href="edit/{{ geostory.storyId }}" class="mdc-button">
                                <div class="mdc-button__ripple"></div>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">edit</i>
                                Edit
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="mdc-data-table__cell" colspan="7">No geostories are available.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>
  </div>





</body>
</html>